*.pyc
*.pyo
*.egg-info
*~
*.swp
.directory
*,cover

.coverage
*-log.txt
build/
dist/
i18n/*/LC_MESSAGES/*.mo
i18n/*/LC_MESSAGES/*.js
src/twisted/plugins/dropin.cache

aclocal.m4
autom4te.cache
configure
config.*
Makefile
Makefile.in
install-sh
missing
*.tar.gz

general.conf
perfdata2vigilo
vigilo-perfdata2vigilo.cfg
