Source: vigilo-perfdata2vigilo
Section: vigilo
Priority: extra
Maintainer: Vigilo Team <contact@projet-vigilo.org>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: vigilo-perfdata2vigilo
Architecture: all
Depends: nagios2 | nagios3
Description: Nagios plugin to send performance data to Vigilo
 This Nagios plugin sends performance data (metrology)
 to Vigilo.
 .
 This application is part of the Vigilo Project <http://vigilo-project.org>
