#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1
export DH_OPTIONS=-v

PKGNAME=$(shell printf "%s" `dpkg-parsechangelog | grep '^Source:' | cut -d: -f2`)
VERSION=$(shell printf "%s" `dpkg-parsechangelog | grep '^Version:' | cut -d: -f2-`)

%:
	dh $@

override_dh_auto_clean:
	dh_auto_clean
ifneq "$(NOPY)" ""
	-rm -f $(CURDIR)/debian/docs $(CURDIR)/debian/copyright
endif

override_dh_auto_install:
	$(MAKE) install DESTDIR=$(CURDIR)/debian/$(PKGNAME)

.PHONY: override_dh_auto_install override_dh_auto_clean
